body {
    background-color: #FFFFE8;
    font-family: Helvetica, sans-serif; /* Optional: Set a default font family */
    margin: 0; /* Optional: Remove default margin */
    padding: 0; /* Optional: Remove default padding */
}